{% extends 'spacebeaver.html' %}


{% block page_head %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      {% url 'accounts:profile' as profile_url %}
      <a class="nav-link {% if request.path == profile_url %}active{% endif %}"
         href="{{ profile_url }}">Profile</a>
    </li>
    <li class="nav-item">
      {% url 'core:replace-device' as device_url %}
      <a class="nav-link {% if request.path == device_url %}active{% endif %}"
         href="{{ device_url }}">Replace device</a>
    </li>
    <li class="nav-item">
      {% url "accounts:change-email" as change_email_url %}
      <a class="nav-link {% if request.path == change_email_url %}active{% endif %}"
         href="{{ change_email_url }}">Change email</a>
    </li>
    <li class="nav-item">
      {% url 'accounts:change-password' as change_password_url %}
      <a class="nav-link {% if request.path == change_password_url %}active{% endif %}"
         href="{{ change_password_url }}">Change password</a>
    </li>
  </ul>
{% endblock %}


{% block content %}
  <div class="col-md-6 centered">
    <div class="card mb-3">
      <div class="card-header">
        {{ title }}
      </div>
      {% block card_content %}

      {% endblock %}
    </div>
  </div>
{% endblock %}

