[run]
branch = True
omit =
    /config*
    *conftest.py
    *wsgi.py
    *asgi.py
    *migrations*
    *tests*
    *admin.py
    *static*
    *templates*

[report]
exclude_lines =
    pragma: no cover
