.DS_Store
.AppleDouble
.LSOverride
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json
*.py[cod]
__pycache__
logs
*.log
pip-log.txt
npm-debug.log*
.coverage
.tox
nosetests.xml
htmlcov
*.mo
*.pot
.idea/*
*~
*.swp
*.swo
node_modules/
.sass-cache
*.pid
*.db
CACHE
.cache
.pytest_cache
.mypy_cache
*-schedule.*
.vscode
tmp
