# https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl
protobuf<4.0.0,>=3.15.3
nose
coverage
flake8
aiosmtpd
Django==3.2.14
aioredis<2
aiohttp >= 3.8.0
