@mixin btn-body($padding: 19.5px 85.5px, $fs: 14px) {
    border-radius: 16px;
    font-family: $font-Be-Vietnam-Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    padding: 19.5px 85.5px;
    cursor: pointer;
    transition-property: background-color, border;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    display: block;

}

@mixin btn($outline) {
    @include btn-body();
    $back-color: $primary-black;
    $border: $back-color;
    $text-color: $primary-white;
    $hover-bg-color: $primary-blue;
    $active-bg-color: $primary-blue-hover;
    $disabled-bg-color: $primary-black;

    &--wide {
        width: 100%;
    }

    @if $outline {
        $back-color: transparent;
        $border: $primary-black;
        $text-color: $primary-black;
        $active-bg-color: $back-color; 
        $hover-bg-color: $back-color;
        $disabled-bg-color: $back-color;
    }

    background: $back-color;
    color: $text-color;
    border: 1px solid $border;

    &:hover {
        background-color: $hover-bg-color;
        color: $text-color;
        border: 1px solid $primary-blue;
    }

    &:active,
    &:focus {
        border: 1px solid $primary-blue-hover;
        background-color: $active-bg-color;
    }

    &:disabled {
        background-color: $disabled-bg-color;
        opacity: 0.3;
        pointer-events: none;
        color: $text-color;
        border: 1px solid $border;

    }
}