html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: #ff6600;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.sf-text-color-primary {
  color: #434f8b;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.sf-vertical-divider {
  border-left: 2px solid #eb650bc7;
  border-radius: 90%;
}

.sf-btn {
  background-color: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  color: white;
  font-weight: 700;
}

.m-16 {
  margin: 16px;
}

.sf-vertical-divider.sf-vertical-divider-sm {
  height: 100px;
}
