{% extends 'dashboard-layout.html' %}


{% block card_content %}
  <button class="btn btn-success" onclick="addNumberModal(true)">Add</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for number in page %}
      <tr>
        <td>{{ number.number }}</td>
        <td>
          {% url 'core:delete-blocked-number' number.id as action_url %}
          <button class="btn btn-link" onclick="deleteNumberModal(true, '{{ action_url }}')">
            Delete
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <nav aria-label="navigation">
    <ul class="pagination">
      {% if page.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
        </li>
      {% endif %}
      {% if page.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>
  <!-- DELETE NUMBER CONFIRMATION MODAL -->

  <div class="modal fade" id="delete-number" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure what you want delete this number?
        </div>
        <div class="modal-footer">
          <form action="#" id="delete-number-form" method="post">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ADD NUMBER MODAL -->

  <div class="modal fade" id="add-number" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{% url 'core:blocked-numbers' %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                <input type="{{ field.field.widget.input_type }}"
                       {% if field.value %}value="{{ field.value }}"{% endif %}
                       class="form-control {% if field.errors %} is-invalid {% endif %}"
                       id="{{ field.id_for_label }}" name="{{ field.name }}"
                       aria-describedby="emailHelp" required="{{ field.field.required }}"
                       placeholder="{{ field.field.widget.attrs.placeholder }}"
                        {% if field.field.disabled %} disabled {% endif %}
                >
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Add</button>
          </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    const deleteNumberModal = (show, action = '') => {
      if (action) {
        $('#delete-number-form').attr('action', action);
      }
      $('#delete-number').modal(show ? 'show' : 'hide');
    }

    const addNumberModal = (show) => {
      $('#add-number').modal(show ? 'show' : 'hide');
    }

    {% if error %}
      addNumberModal(true);
    {% endif %}
  </script>
{% endblock %}
