{% extends 'dashboard-layout.html' %}

{% block content %}
  <div class="statistic-layout statistic-layout--grid">
    <div class="statistic-card">
        <header class="statistic-card__header d-flex align-items-center ">
            <div class="statistic-card__img-wrap statistic-card__img-wrap--purple d-flex align-items-center justify-content-center">
                <img class="statistic-card__img" src="{% static 'core/img/svg/icon-sms.svg' %}" alt="">
            </div>
            <div class="statistic-card__text-wrap">
                <p class="statistic-card__count">{{ monthly }}</p>
                <p class="statistic-card__count-description">Number of messages this month
                </p>
            </div>
        </header>
        <div class="statistic-card__body"></div>
    </div>
    <div class="statistic-card">
        <header class="statistic-card__header d-flex align-items-center ">
            <div class="statistic-card__img-wrap statistic-card__img-wrap--blue d-flex align-items-center justify-content-center">
                <img class="statistic-card__img" src="{% static 'core/img/svg/icon-sms-tracking.svg' %}" alt="">
            </div>
            <div class="statistic-card__text-wrap">
                <p class="statistic-card__count">{{ yearly }}</p>
                <p class="statistic-card__count-description">Number of messages this year</p>
            </div>
        </header>
        <div class="statistic-card__body"></div>
    </div>
    <div class="statistic-card">
        <header class="statistic-card__header d-flex align-items-center ">
            <div class="statistic-card__img-wrap statistic-card__img-wrap--gray d-flex align-items-center justify-content-center">
                <img class="statistic-card__img" src="{% static 'core/img/svg/icon-sms-notification.svg' %}" alt="">
            </div>
            <div class="statistic-card__text-wrap">
                <p class="statistic-card__count">{{ daily }}</p>
                <p class="statistic-card__count-description">Number of messages this today</p>
            </div>
        </header>
        <div class="statistic-card__body"></div>
    </div>
</div>
{% endblock %}
