{% extends 'spacebeaver.html' %}


{% block content %}
  <div style="display: flex; justify-content: space-between;">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Daily</div>
      <div class="card-body">
        <h5 class="card-title">Messages count today</h5>
        <p class="card-text">{{ daily }}</p>
      </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">Monthly</div>
      <div class="card-body">
        <h5 class="card-title">Messages count in this month</h5>
        <p class="card-text">{{ monthly }}</p>
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Yearly</div>
      <div class="card-body">
        <h5 class="card-title">Messages count in this year</h5>
        <p class="card-text">{{ yearly }}</p>
      </div>
    </div>
  </div>
{% endblock %}
