{% extends 'spacebeaver.html' %}
{% load bootstrap_form %}

{% block content %}
  <div class="col-6 h-100 position-relative">
    left side
  </div>
  <div class="col-6 d-flex align-items-center h-100">
    <div class="form-container form-container--centered">
        <header class="form-header">
            <h1 class="title">Forgot password</h1>
            <p class="subtitle">Enter your email address and we'll send you a password reset link</p>
        </header>
      {% bs_form form action "Send reset link" %}
      <footer class="form-footer text-center">
        <a href="{% url 'core:login' %}" class="form-footer-link">Back</a>
    </footer>
    </div>
  </div>

{% endblock %}