{% extends 'spacebeaver.html' %}
{% load bootstrap_form %}

{% block content %}
  <div class="col-6 h-100 position-relative">
    left side
  </div>
  <div class="col-6 d-flex align-items-center h-100">
    <div class="form-container form-container--centered">
      <header class="form-header">
        <h1 class="title">Create new password</h1>
        <p class="subtitle">Please enter a new password</p>
      </header>
      {% bs_form form action "Confirm new password" %}
      
    </div>
  </div>

{% endblock %}