{% extends 'spacebeaver.html' %}


{% block content %}
<div class="col-12 col-lg-6 d-flex align-items-center">
    <div class="form-container form-container--centered">
      <header class="form-header text-center">
        <img class="form-header-icon" src="{% static 'core/img/svg/icon-aprove.svg' %}" alt="">
        <h1 class="title">Password link has been sent</h1>
        <p class="subtitle">Please check your inbox 
          <a href="#" href="" class="subtitle__link">mike@gmail.com</a> 
        </p>
      </header>
      <form class="form-body form" action="" method="post">
        <button type="submit" class="form-submit btn">Send reset link</button>
      </form>
      <footer class="form-footer text-center">
        <a href="{% url 'core:forget-password' %}" class="form-footer-link">Back</a>
      </footer>
    </div>
  </div>
{% endblock %}