{% extends 'onboarding_wizard.html' %}

{% load static %}
{% block title %} Payment Form {% endblock %}
{% block navname %} Payment Form {% endblock %}
{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'core/stripe.css' %}">
  <script src="https://js.stripe.com/v3/"></script>


{% endblock %}
{% block content %}
  {{ block.super }}
  <div class="centered col-md-4">

      <form id="payment-form">
        <div id="payment-element">
          <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>

  </div>
{% endblock %}
{% block extra_js %}
  <script>
    // This is your test publishable API key.
    const stripe = Stripe("{{ stripe_key }}");

    // The items the customer wants to buy

    let elements;

    initialize();
    checkStatus();

    document
            .querySelector("#payment-form")
            .addEventListener("submit", handleSubmit);

    // Fetches a payment intent and captures the client secret
    async function initialize() {
      const response = await fetch("/checkout-session", {
        method: "GET",
        headers: {"Content-Type": "application/json"},
      });
      const {clientSecret} = await response.json();

      const appearance = {
        theme: 'stripe',
      };
      elements = stripe.elements({appearance, clientSecret});

      const paymentElement = elements.create("payment");
      paymentElement.mount("#payment-element");
    }

    async function handleSubmit(e) {
      e.preventDefault();
      setLoading(true);

      const {error} = await stripe.confirmPayment({
        elements,
        confirmParams: {
          // Make sure to change this to your payment completion page
          return_url: "{{ success_url }}",
        },
      });

      // This point will only be reached if there is an immediate error when
      // confirming the payment. Otherwise, your customer will be redirected to
      // your `return_url`. For some payment methods like iDEAL, your customer will
      // be redirected to an intermediate site first to authorize the payment, then
      // redirected to the `return_url`.
      if (error.type === "card_error" || error.type === "validation_error") {
        showMessage(error.message);
      } else {
        showMessage("An unexpected error occured.");
      }

      setLoading(false);
    }

    // Fetches the payment intent status after payment submission
    async function checkStatus() {
      const clientSecret = new URLSearchParams(window.location.search).get(
              "payment_intent_client_secret"
      );

      if (!clientSecret) {
        return;
      }

      const {paymentIntent} = await stripe.retrievePaymentIntent(clientSecret);

      switch (paymentIntent.status) {
        case "succeeded":
          showMessage("Payment succeeded!");
          break;
        case "processing":
          showMessage("Your payment is processing.");
          break;
        case "requires_payment_method":
          showMessage("Your payment was not successful, please try again.");
          break;
        default:
          showMessage("Something went wrong.");
          break;
      }
    }

    // ------- UI helpers -------

    function showMessage(messageText) {
      const messageContainer = document.querySelector("#payment-message");

      messageContainer.classList.remove("hidden");
      messageContainer.textContent = messageText;

      setTimeout(function () {
        messageContainer.classList.add("hidden");
        messageText.textContent = "";
      }, 4000);
    }

    // Show a spinner on payment submission
    function setLoading(isLoading) {
      if (isLoading) {
        // Disable the button and show a spinner
        document.querySelector("#submit").disabled = true;
        document.querySelector("#spinner").classList.remove("hidden");
        document.querySelector("#button-text").classList.add("hidden");
      } else {
        document.querySelector("#submit").disabled = false;
        document.querySelector("#spinner").classList.add("hidden");
        document.querySelector("#button-text").classList.remove("hidden");
      }
    }
  </script>


{% endblock %}
