{% extends 'onboarding_wizard.html' %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'core/loader.css' %}">
  <script src="https://js.stripe.com/v3/"></script>
  <style>
    .card-container {
      margin: 20px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="centered col-md-4">
    <form id="payment-form">
      <div class="card-container">

        <div id="card-element">
          <!-- Elements will create input elements here -->
        </div>
      </div>

      <!-- We'll put the error messages in this element -->
      <div id="card-element-errors" role="alert"></div>
      <button id="submit" type="submit">Subscribe</button>
    </form>
  </div>
  <div id="loader-container">
    <div class="loader-item spinner-border text-primary" role="status">
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script>
    let stripe = Stripe("{{ stripe_api_key }}");
    let elements = stripe.elements();
    let card = elements.create('card');


    card.mount('#card-element');
    card.on('change', function (event) {
      displayError(event);
    });


    function setErrorText(text) {
      let displayError = document.getElementById('card-element-errors');
      displayError.textContent = text;
    }

    function displayError(event) {
      if (event.error) {
        setErrorText(event.error.message);
      } else {
        setErrorText("");
      }
    }

    function setLoading(status) {
      const loader = document.getElementById('loader-container');
      loader.style.display = status ? 'block' : 'none'

    }

    function createSubscription({customerId, paymentMethodId, priceId}) {
      return (
              fetch('/create-subscription', {
                method: 'post',
                headers: {
                  'Content-type': 'application/json',
                  'X-CSRFToken': "{{ csrf_token }}"
                },
                body: JSON.stringify({
                  customerId: customerId,
                  paymentMethodId: paymentMethodId,
                  priceId: priceId,
                }),
              })
                      .then(res => res.json())
                      .then(res => {
                        console.log(res);
                        if (res.error) {
                          setErrorText(res.error);
                        } else if (res.object === "subscription" && res.status === "active") {
                          window.location.replace(`${location.origin}{% url "core:payment-success" %}`)
                        } else {
                          setErrorText("Payment error")
                        }
                      })
                      .catch(err => {
                        console.log('catch', err)
                      })
                      .finally(() => setLoading(false))
      );
    }

    function createPaymentMethod({card}) {
      stripe
              .createPaymentMethod({
                type: 'card',
                card: card,
                billing_details: {
                  name: "{{ request.user.full_name }}",
                  email: "{{ request.user.email }}"
                },
              })
              .then((result) => {
                if (result.error) {
                  displayError(result);
                  setLoading(false);
                } else {
                  createSubscription({
                    customerId: "{{ request.user.customer_id }}",
                    paymentMethodId: result.paymentMethod.id,
                    priceId: "{{ price_id }}",
                  });
                }
              });
    }

    const form = document.getElementById('payment-form');

    form.addEventListener('submit', function (ev) {
      ev.preventDefault();
      setLoading(true);
      createPaymentMethod({card});
    });
  </script>
{% endblock %}
