{% extends "spacebeaver.html" %}
{% load cms_tags sekizai_tags menu_tags %}
{% block title %}
  {{ block.super }}
  {% page_attribute "page_title" %}
{% endblock %}


{% cms_toolbar %}

{% block page_head %}

{% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card" style="height: 600px">
          <div class="card-header">
            {% render_model request.current_page "title" %}
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              {% placeholder "feature" %}
              {% placeholder "content" %}


            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      SpaceBeaver
    </div>
    <!-- Copyright -->
  </footer>
{% endblock %}


{% render_block "js" %}
