$primary-black: #222223;
$primary-blue: #316AFF;
$primary-blue-hover:#1950E2;
$primary-pink: #F481FE;
$primary-purple: #6C2FFF;
$primary-white: #ffffff;

$grayscale-gray-900: #DCDCE1;
$grayscale-gray-800: #F6F6F8;

$secondary-green: #B1FF8C;
$placeholder-text-color: #91979F;
$progress-item-back: #E4E5ED; 
$secondary-gray:#939592;