


@font-face {
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-font/Aeonik-Thin.woff2);
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-font/Aeonik-Light.woff2);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-font/Aeonik-Regular.woff2);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-font/Aeonik-Medium.woff2);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-font/Aeonik-Bold.woff2);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Aeonik';
    src: url(../fonts/Aeonik-font/Aeonik-Black.woff2);
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

$font-Be-Vietnam-Pro: 'Be Vietnam Pro', Arial, sans-serif;
$font-Aeonik: 'Aeonik', Arial, sans-serif;



