tmp
dump
.git-crypt
.pytest_cache
.mypy_cache
.sqlite3
.coverage
.cache
.log
.pid
.git
.cache
.pytest_cache
.mypy_cache
.vscode
*-schedule.*
*.py[cod]
__pycache__
.coverage
.coverage.*
.cache
coverage.xml
node_modules
src/media
src/private
