.field {
    margin-bottom: 20px;
    position: relative;

    // &:last-of-type {
    //     margin-bottom: 0;
    // }

    &__label {
        display: block;        
        @include text-config($font-weight: 500, $fs: 14px, $lh: 150%);
        margin-bottom: 8px;

        &--required {
            &::after{
                content: '*';
                margin-left: 5px;
            }
        }
    }

    &__input {
        display: block;
        background-color: $grayscale-gray-800;
        appearance: none;
        padding: 13px 16px;
        border: 1px solid $grayscale-gray-800;
        border-radius: 16px;
        width: 100%;


        font-family: $font-Aeonik;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $primary-black;
        transition:  0.3s border ease-in-out;

        
        &::placeholder {
            color: $placeholder-text-color;
        }

        &:hover,
        &:active,
        &:focus{
            border-color: $primary-blue;
        }

        &--invalid {
            border-color: $primary-pink;
            &:hover,
            &:active,
            &:focus{
                border-color: $primary-pink;
            }
        }

        &.form-select {
            padding-left: 40px;
        }
        
    }
    .country-select-flag {
        position: absolute; 
        bottom: 20px;
        left: 16px;
        margin-left: 0 !important;
    }

    &__input-error {
        @include text-config($font-weight: 400, $fs: 14px, $lh: 150%, $color: $primary-pink);
        position: absolute;
        display: block;
        opacity: 0;
        margin-top: 8px;

        ul {
            list-style-type: none;
            padding: 0;
        }


        &__input--shown {
            opacity: 1;
            position: static;
        }
    }

    &__input--invalid + &__input-error {
        opacity: 1;
        position: static;
    }

    &__change-btn{
        position: absolute;
        bottom: 14.5px;
        right: 16px;
    }
}