.side-nav {
    background-color: $grayscale-gray-800;
    width: width(10);
    padding: width(1);
    position: relative;


    &--smaller {
        width: width(9);
    }

    &__progress-bar {
        margin-top: 115px;
    }
}

.main {
    width: calc(100% - width(10));
}

@media  (max-width: 1024px) {
    .side-nav {
        display: none;
    }
    .main {
        width: 100%;

    }
}