.main-layout {
    position: relative;
    padding: width(1);
    padding-bottom: width(5);
    width: calc(100% - width(10));

    &__dashbord {
        padding-top: 23px;
        padding-bottom: width(1);
        width: calc(100% - width(9));
    }
}