
<form method="post" action="{{ action }}" class="form-body form">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group field">

      <label for="{{ field.id_for_label }}"  class="field__label {% if field.field.required %} field__label--required {% endif %}">{{ field.label_tag }}</label>
      {% if field.field.widget.input_type == 'select' %}

        {{ field }}
      {% else %}
        <input type="{{ field.field.widget.input_type }}"
               {% if field.value %}value="{{ field.value }}"{% endif %}
               class="field__input {% if field.errors %} field__input--invalid {% endif %}"
               id="{{ field.id_for_label }}" name="{{ field.name }}"
               aria-describedby="emailHelp" required="{{ field.field.required }}"
               placeholder="{{ field.field.widget.attrs.placeholder }}"
                {% if field.field.disabled %} disabled {% endif %}
        >
      {% endif %}
      {% if field.errors %}
        <span class="field__input-error">
          {{ field.errors }}
        </span>
      {% endif %}
      <small id="emailHelp" class="form-text text-muted">{{ field.help_text }}</small>
    </div>
  {% endfor %}
  {% if form.non_field_errors %}
    <div class="alert alert-warning" role="alert">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <a href="{% url 'core:forget-password' %}" class="form-link mr-auto">Forgot password?</a>
  <button type="submit" class="form-submit btn btn--wide">{{ button_name }}</button>
</form>

